<div class="criar-plantao-container">
  <p-toast></p-toast>
  <h2>{{ isEditMode ? 'Editar Plantão' : 'Criar Novo Plantão' }}</h2>

  <form [formGroup]="plantaoForm" (ngSubmit)="onSubmit()" class="plantao-form">
    <div class="form-group">
      <label for="hospital">Hospital:</label>
      <select id="hospital" formControlName="hospitalId" class="form-control">
        <option [ngValue]="null" disabled>Selecione um hospital</option>
        <option *ngFor="let hospital of hospitais" [value]="hospital.id">
          {{ hospital.nome }}
        </option>
      </select>
      <div
        *ngIf="
          plantaoForm.get('hospitalId')?.invalid &&
          (plantaoForm.get('hospitalId')?.dirty || plantaoForm.get('hospitalId')?.touched)
        "
        class="error-message"
      >
        <span *ngIf="plantaoForm.get('hospitalId')?.errors?.['required']">
          Hospital é obrigatório.
        </span>
      </div>
    </div>

    <div class="form-group">
      <label for="especialidade">Especialidade:</label>
      <select
        id="especialidade"
        formControlName="especialidade"
        class="form-control"
        [class.ng-invalid]="
          plantaoForm.get('especialidade')?.invalid && plantaoForm.get('especialidade')?.touched
        "
        [compareWith]="compareEspecialidade"
      >
        <option [ngValue]="null" disabled>Selecione uma especialidade</option>
        <option *ngFor="let esp of especialidadesDisponiveis" [ngValue]="esp">
          {{ esp.nome }}
        </option>
      </select>
      <div
        *ngIf="
          plantaoForm.get('especialidade')?.invalid && plantaoForm.get('especialidade')?.touched
        "
        class="error-message"
      >
        Especialidade é obrigatória.
      </div>
    </div>

    <div class="form-group" *ngIf="showOtherEspecialidadeInput">
      <label for="outraEspecialidade">Outra Especialidade:</label>
      <input
        type="text"
        id="outraEspecialidade"
        formControlName="outraEspecialidade"
        class="form-control"
        placeholder="Digite a especialidade"
      />
      <div
        *ngIf="
          plantaoForm.get('outraEspecialidade')?.invalid &&
          (plantaoForm.get('outraEspecialidade')?.dirty ||
            plantaoForm.get('outraEspecialidade')?.touched)
        "
        class="error-message"
      >
        <span *ngIf="plantaoForm.get('outraEspecialidade')?.errors?.['required']">
          A especialidade é obrigatória.
        </span>
        <span *ngIf="plantaoForm.get('outraEspecialidade')?.errors?.['pattern']">
          A especialidade deve conter apenas letras e espaços.
        </span>
      </div>
    </div>
    <div class="form-group">
      <label for="inicio">Início do Plantão:</label>
      <input type="datetime-local" id="inicio" formControlName="inicio" class="form-control" />
      <div
        *ngIf="
          plantaoForm.get('inicio')?.invalid &&
          (plantaoForm.get('inicio')?.dirty || plantaoForm.get('inicio')?.touched)
        "
        class="error-message"
      >
        <span *ngIf="plantaoForm.get('inicio')?.errors?.['required']">
          Data/hora de início é obrigatória.
        </span>
      </div>
    </div>

    <div class="form-group">
      <label for="fim">Fim do Plantão:</label>
      <input type="datetime-local" id="fim" formControlName="fim" class="form-control" />
      <div
        *ngIf="
          plantaoForm.get('fim')?.invalid &&
          (plantaoForm.get('fim')?.dirty || plantaoForm.get('fim')?.touched)
        "
        class="error-message"
      >
        <span *ngIf="plantaoForm.get('fim')?.errors?.['required']">
          Data/hora de fim é obrigatória.
        </span>
      </div>

      <div
        *ngIf="
          plantaoForm.hasError('dateRangeInvalid') &&
          (plantaoForm.get('fim')?.dirty || plantaoForm.get('fim')?.touched || isEditMode)
        "
        class="error-message"
      >
        <span>A data de fim deve ser posterior à data de início.</span>
      </div>
    </div>

    <div class="form-group">
      <label for="valor">Valor (R$):</label>
      <input
        type="number"
        id="valor"
        formControlName="valor"
        step="0.01"
        class="form-control"
        placeholder="0.00"
      />
      <div
        *ngIf="
          plantaoForm.get('valor')?.invalid &&
          (plantaoForm.get('valor')?.dirty || plantaoForm.get('valor')?.touched)
        "
        class="error-message"
      >
        <span *ngIf="plantaoForm.get('valor')?.errors?.['required']">Valor é obrigatório.</span>
        <span *ngIf="plantaoForm.get('valor')?.errors?.['min']"
          >Valor deve ser maior que zero.</span
        >
      </div>
    </div>

    <div class="form-actions">
      <button
        pButton
        type="button"
        label="Cancelar"
        (click)="cancelar()"
        class="p-button-secondary p-button-lg"
        [disabled]="isLoading"
      ></button>
      <button
        pButton
        type="submit"
        [label]="
          isEditMode
            ? isLoading
              ? 'Atualizando...'
              : 'Atualizar Plantão'
            : isLoading
            ? 'Criando...'
            : 'Criar Plantão'
        "
        [disabled]="plantaoForm.invalid || isLoading"
        [icon]="isLoading ? 'pi pi-spin pi-spinner' : isEditMode ? 'pi pi-save' : 'pi pi-plus'"
        class="p-button-primary p-button-lg"
      ></button>
    </div>
  </form>
</div>
