<mat-card class="medico-list-container">
  <mat-card-header> </mat-card-header>

  <mat-card-content>
    <div *ngIf="!isLoading && !errorMessage" class="table-section">
      <div *ngIf="medicos.length > 0; else emptyMedicos">
        <div class="table-responsive-wrapper">
          <table mat-table [dataSource]="medicos" class="mat-elevation-z8 medico-table">
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>ID</th>
              <td mat-cell *matCellDef="let medico">{{ medico.id }}</td>
            </ng-container>

            <ng-container matColumnDef="nomeCompleto">
              <th mat-header-cell *matHeaderCellDef>Nome Completo</th>
              <td mat-cell *matCellDef="let medico">{{ medico.nomeCompleto || 'N/A' }}</td>
            </ng-container>

            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef>Email</th>
              <td mat-cell *matCellDef="let medico">{{ medico.email || 'N/A' }}</td>
            </ng-container>

            <ng-container matColumnDef="crm">
              <th mat-header-cell *matHeaderCellDef>CRM</th>
              <td mat-cell *matCellDef="let medico">{{ medico.crm || 'N/A' }}</td>
            </ng-container>

            <ng-container matColumnDef="especialidadeNome">
              <th mat-header-cell *matHeaderCellDef>Especialidade</th>
              <td mat-cell *matCellDef="let medico">{{ medico.especialidadeNome || 'N/A' }}</td>
            </ng-container>

            <ng-container matColumnDef="telefone">
              <th mat-header-cell *matHeaderCellDef>Telefone</th>
              <td mat-cell *matCellDef="let medico">{{ medico.telefone || 'N/A' }}</td>
            </ng-container>

            <ng-container matColumnDef="acoes">
              <th mat-header-cell *matHeaderCellDef>Ações</th>
              <td mat-cell *matCellDef="let medico" class="coluna-acoes">
                <button mat-icon-button (click)="editarMedico(medico.id)" matTooltip="Editar">
                  <mat-icon>edit</mat-icon>
                </button>
                <button
                  mat-icon-button
                  color="warn"
                  (click)="excluirMedico(medico.id)"
                  matTooltip="Excluir"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
      </div>
      <ng-template #emptyMedicos>
        <p>Nenhum médico encontrado</p>
      </ng-template>
    </div>
  </mat-card-content>
</mat-card>
